table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
}

td, th {
    font-size: 1.2em;
    padding: 20px;
    border: 1px solid grey;
}

td {
	text-align: center;
}

thead {
    font-size: 30px;
}

thead, tfoot {
    background-color: lightblue;
}

tbody tr:first-child {
    background-color: lightseagreen;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #ccc;
}

#highlight {
    background-color: lightseagreen;
}

#italics {
    font-style: italic;
}


@media screen {
    
}