#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


@media screen and (max-width: 900px){
    #receptions {
        grid-column: 1/1;
    }

    #missionary {
        grid-column: 1/1;
        padding-bottom: 50px;
    }
}