
@media screen and (min-width: 900px) {
    nav ul {
        flex-direction: row;
    }

    nav li {
        display: block;
    }

    li:first-child {
        display: none;
    }

}

@media screen and (max-width: 800px){
    .slideshow-container img {
        width: 670px;
    }

    #home-grid {
        grid-template-columns: 1fr;
    }

    #weather {
        grid-column: 1/1;
        grid-row: 2/2;
    }

    #reservations {
        grid-column: 1/1;
        grid-row: 3/3;
    }
}
